#code-editor .monaco-editor {
    --vscode-editor-background: rgb(26, 26, 26);
    --vscode-editorGutter-background: rgb(26, 26, 26);
    --vscode-scrollbar-shadow: rgb(26, 26, 26);
}

#code-editor .monaco-editor:focus-within, #code-editor .monaco-editor:hover{
        --vscode-editor-background: rgb(39, 39, 39);
        --vscode-editorGutter-background: rgb(39, 39, 39);
}

